<?xml version="1.0" encoding="UTF-8" ?>    
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.com.yikangbao.dao.wechatuser.LocalWechatUserDAO">
	<resultMap id="WechatUserResultMap" type="cn.com.yikangbao.entity.wechatuser.LocalWechatUserDTO"
		autoMapping="true">
		<result column="id" jdbcType="VARCHAR" property="id" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="open_id" jdbcType="VARCHAR" property="openId" />
		<result column="created_by" jdbcType="VARCHAR" property="createdBy" />
		<result column="created_date" jdbcType="TIMESTAMP" property="createdDate" />
		<result column="updated_date" jdbcType="TIMESTAMP" property="updatedDate" />
		<result column="updated_by" jdbcType="VARCHAR" property="updatedBy" />
		<result column="qr_code_scene" jdbcType="VARCHAR" property="qrCodeScene" />
		<result column="nick_name" jdbcType="VARCHAR" property="nickName" />
		<result column="subscribe" jdbcType="BIGINT" property="subscribe" />
		<result column="gender" jdbcType="VARCHAR" property="gender" />
		<result column="city" jdbcType="VARCHAR" property="city" />
		<result column="province" jdbcType="VARCHAR" property="province" />
		<result column="country" jdbcType="VARCHAR" property="country" />
		<result column="head_img_url" jdbcType="VARCHAR" property="headImgUrl" />
		<result column="union_id" jdbcType="VARCHAR" property="unionId" />
		<result column="remark" jdbcType="VARCHAR" property="remark" />
		<result column="channels" jdbcType="VARCHAR" property="channels" />
	</resultMap>

	<insert id="create" parameterType="LocalWechatUserM">
		INSERT INTO
			ykb_wechat_user (id, name, open_id, created_by, created_date, updated_date, updated_by, qr_code_scene
			, nick_name, subscribe, gender, city, province, country, head_img_url, union_id, remark, subscribe_time, source)
	  	VALUES
	  		(#{id}, #{name}, #{openId}, #{createdBy}, #{createdDate}, #{updatedDate}, #{updatedBy}, #{qrCodeScene}
	  		, #{nickName}, #{subscribe}, #{gender}, #{city}, #{province}, #{country}, #{headImgUrl}, #{unionId}, #{remark}, #{subscribeTime}, #{source})
	</insert>

	<update id="update" parameterType="LocalWechatUserM">
		UPDATE ykb_wechat_user
		<set>
			<if test="name != null">
				name = #{name},
			</if>
			<if test="updatedDate != null">
				updated_date = #{updatedDate},
			</if>
			<if test="updatedBy != null">
				updated_by = #{updatedBy},
			</if>
			<if test="qrCodeScene != null">
				qr_code_scene = #{qrCodeScene},
			</if>
			<if test="nickName != null">
				nick_name = #{nickName},
			</if>
			<if test="subscribe != null">
				subscribe = #{subscribe},
			</if>
			<if test="gender != null">
				gender = #{gender},
			</if>
			<if test="city != null">
				city = #{city},
			</if>
			<if test="province != null">
				province = #{province},
			</if>
			<if test="country != null">
				country = #{country},
			</if>
			<if test="headImgUrl != null">
				head_img_url = #{headImgUrl},
			</if>
			<if test="unionId != null">
				union_id = #{unionId},
			</if>
			<if test="remark != null">
				remark = #{remark},
			</if>
			<if test="subscribeTime != null">
				subscribe_time = #{subscribeTime},
			</if>
			<if test="source != null">
				source = #{source},
			</if>
		</set>
		WHERE id = #{id}
	</update>

	<update id="synchronousUser" parameterType="LocalWechatUserM">
		UPDATE ykb_wechat_user
		<set>
			<if test="nickName != null">
				nick_name = #{nickName},
			</if>
			<if test="subscribe != null">
				subscribe = #{subscribe},
			</if>
			<if test="gender != null">
				gender = #{gender},
			</if>
			<if test="city != null">
				city = #{city},
			</if>
			<if test="province != null">
				province = #{province},
			</if>
			<if test="country != null">
				country = #{country},
			</if>
			<if test="headImgUrl != null">
				head_img_url = #{headImgUrl},
			</if>
			<if test="unionId != null">
				union_id = #{unionId},
			</if>
			<if test="remark != null">
				remark = #{remark},
			</if>
			<if test="subscribeTime != null">
				subscribe_time = #{subscribeTime},
			</if>
		</set>
		WHERE open_id = #{openId}
	</update>

	<sql id="sql_where_wu">
		<where>
			<if test="id != null">
				and wu.id = #{id}
			</if>
			<if test="name != null">
				and wu.name = #{name}
			</if>
			<if test="openId != null">
				and wu.open_id = #{openId}
			</if>
			<if test="qrCodeScene != null">
				and wu.qr_code_scene = #{qrCodeScene}
			</if>
			<if test="subscribeDateStart == null and subscribeDateEnd != null">
				and wu.subscribe_time &lt; #{subscribeDateEnd}
			</if>
			<if test="subscribeDateStart != null and subscribeDateEnd == null">
				and wu.subscribe_time &gt;= #{subscribeDateStart}
			</if>
			<if test="subscribeDateStart != null and subscribeDateEnd != null">
				and wu.subscribe_time &gt;= #{subscribeDateStart} AND wu.subscribe_time &lt; #{subscribeDateEnd}
			</if>
            <if test="channelGroupName != null">
                and wcg.name = #{channelGroupName}
            </if>
			<if test="channels != null">
				and wc.channels = #{channels}
			</if>
            <if test="city != null">
                and wu.city = #{city}
            </if>
            <if test="province != null">
                and wu.province = #{province}
            </if>
			<if test="source != null">
				and wu.source = #{source}
			</if>
		</where>
	</sql>

	<sql id="from_wechat_user">
		FROM ykb_wechat_user wu
	</sql>

	<sql id="from_wechat_channel">
		LEFT JOIN ykb_wechat_channel wc ON wu.qr_code_scene = wc.scene
	</sql>

    <sql id="from_wechat_channel_group">
        LEFT JOIN ykb_wechat_channel_group wcg ON wc.channel_group_id = wcg.id
    </sql>

	<select id="findByConditionPage" resultType="LocalWechatUserQM">
		SELECT
			wu.*,wc.channels,wcg.name channel_group_name
		<include refid="from_wechat_user" />
		<include refid="from_wechat_channel" />
		<include refid="from_wechat_channel_group" />
		<include refid="sql_where_wu" />
	    ORDER BY wu.subscribe_time DESC
	</select>

	<select id="findOneByCondition" resultType="LocalWechatUserQM">
		SELECT
		wu.*
		<include refid="from_wechat_user" />
		<include refid="sql_where_wu" />
		LIMIT 1
	</select>

	<select id="findByCondition" resultMap="WechatUserResultMap">
		SELECT
		wu.*
		<include refid="from_wechat_user" />
		<include refid="sql_where_wu" />
	</select>

	<select id="findByUnsynchronous" resultMap="WechatUserResultMap">
		SELECT
		wu.*
		<include refid="from_wechat_user" />
		WHERE
		wu.open_id IS NOT NULL
		AND wu.union_id IS NULL
		AND wu.subscribe != 0
		LIMIT 100
	</select>

	<select id="countUsers" resultType="java.lang.Integer">
		SELECT
		count(*)
		<include refid="from_wechat_user" />
		<include refid="sql_where_wu" />
	</select>

	<select id="getAllSource" resultType="java.lang.String">
		SELECT
		source
		FROM
		<include refid="from_wechat_user" />
		GROUP BY source
	</select>
</mapper>

