<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
    <!--定义日志文件的存储地址 勿在 LogBack 的配置中使用相对路径-->
    <property name="LOG_HOME" value="/data/tmp/web_log" />
    <!-- 控制台输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <pattern>[%date] [%thread] [%X{traceid}] %-5level %logger{36}:%line - %msg%n</pattern>
        </encoder>
    </appender>
    <!-- 按照每天生成日志文件 -->
    <appender name="FILE"  class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--日志文件输出的文件名-->
            <FileNamePattern>${LOG_HOME}/server.log.%d{yyyy-MM-dd}.log</FileNamePattern>
            <!--日志文件保留天数-->
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <pattern>[%date] [%thread] [%X{traceid}] %-5level %logger{36}:%line - %msg%n</pattern>
        </encoder>
    </appender>

    <!--myibatis log configure-->
    <logger name="org.apache.ibatis" level="INFO"/>
    <logger name="java.sql.Connection" level="INFO"/>
    <logger name="java.sql.Statement" level="INFO"/>
    <logger name="java.sql.PreparedStatement" level="INFO"/>
    <logger name="org.springframework.web" level="ERROR" />
    <logger name="org.springframework" level="ERROR" />

    <logger name="cn.com.yikangbao" level="TRACE" />
    <logger name="cn.com.yikangbao.service" level="TRACE" />
    <logger name="org.mybatis.spring.SqlSessionUtils" level="INFO" />
    <logger name="org.mybatis" level="ERROR" />

    <logger name="virtual.pkg.logger.mybatis" level="DEBUG"/>
    <!--<logger name="org.hibernate" level="TRACE" />-->


    <!-- 日志输出级别 -->
    <root level="TRACE">
        <appender-ref ref="STDOUT" />
        <!--<appender-ref ref="FILE" />-->
        <!--<appender-ref ref="TRACE" />-->
    </root>
</configuration>