<?xml version="1.0" encoding="UTF-8" ?>    
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.com.yikangbao.dao.insure.InsureDAO">
	<insert id="create" parameterType="InsureM">
		INSERT INTO
			ykb_insure (id, created_by, created_date, updated_date, updated_by
			, hospital_id, hospital_name, insurance_amount, order_amount
			, user_id, birthday, order_id, partner_order_id, age, open_id, order_number)
	  	VALUES
	  		(#{id}, #{createdBy}, #{createdDate}, #{updatedDate}, #{updatedBy}
	  		, #{hospitalId}, #{hospitalName}
	  		, #{insuranceAmount}, #{orderAmount}, #{userId}, #{birthday}, #{orderId}, #{partnerOrderId}, #{age}, #{openId}, #{orderNumber})
	</insert>

	<update id="update" parameterType="InsureM">
		UPDATE ykb_insure
		<set>
			<if test="updatedDate != null">
				updated_date = #{updatedDate},
			</if>
			<if test="updatedBy != null">
				updated_by = #{updatedBy},
			</if>
			<if test="hospitalId != null">
				hospital_id = #{hospitalId},
			</if>
			<if test="hospitalName != null">
				hospital_name = #{hospitalName},
			</if>
			<if test="insuranceAmount != null">
				insurance_amount = #{insuranceAmount},
			</if>
			<if test="orderAmount != null">
				order_amount = #{orderAmount},
			</if>
			<if test="birthday != null">
				birthday = #{birthday},
			</if>
			<if test="orderId != null">
				order_id = #{orderId},
			</if>
			<if test="partnerOrderId != null">
				partner_order_id = #{partnerOrderId},
			</if>
			<if test="orderNumber != null">
				order_number = #{orderNumber},
			</if>
		</set>
		WHERE id = #{id}
	</update>

	<sql id="sql_where">
		<where>
			<if test="id != null">
				and i.id = #{id}
			</if>
			<if test="createdDateStart != null and createdDateEnd != null">
				and i.created_date BETWEEN #{createdDateStart} and #{createdDateEnd}
			</if>
			<if test="createdDateStart == null and createdDateEnd != null">
				and i.created_date &lt;= #{createdDateEnd}
			</if>
			<if test="createdDateStart != null and createdDateEnd == null">
				and i.created_date &gt;= #{createdDateStart}
			</if>
			<if test="hospitalName != null">
				and h.name LIKE '%${hospitalName}%'
			</if>
			<if test="provinceId != null">
				and h.province_id = #{provinceId}
			</if>
			<if test="existOrder != null">
				and i.partner_order_id IS NOT NULL
			</if>
			<if test="insuranceAmount != null">
				and i.insurance_amount = #{insuranceAmount}
			</if>

		</where>
	</sql>

	<sql id="from_insure">
		ykb_insure i
	</sql>
	<sql id="join_wechat_user">
		LEFT JOIN ykb_wechat_user wu on i.user_id = wu.id
	</sql>
	<sql id="join_hospital">
		LEFT JOIN ykb_hospital h on i.hospital_id = h.id
	</sql>

	<select id="findByConditionPage" resultType="InsureQM">
		SELECT
		i.*, wu.open_id, h.name "hospital_name", h.province_name, wu.nick_name
		FROM
		<include refid="from_insure" />
		<include refid="join_wechat_user" />
		<include refid="join_hospital" />
		<include refid="sql_where" />
	    ORDER BY i.created_date DESC
	</select>

	<select id="findOneByCondition" resultType="InsureQM">
		SELECT
		i.*
		FROM
		<include refid="from_insure" />
		<include refid="sql_where" />
		ORDER BY created_date DESC
		LIMIT 1
	</select>

	<select id="findByCondition" resultType="InsureQM">
		SELECT
		i.*
		FROM
		<include refid="from_insure" />
		<include refid="sql_where" />
	</select>

</mapper>

