<?xml version="1.0" encoding="UTF-8" ?>    
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.com.yikangbao.dao.insure.InsureDAO">
	<insert id="create" parameterType="InsureM">
		INSERT INTO
			ykb_insure (id, created_by, created_date, updated_date, updated_by
			, hospital_id, hospital_name, insurance_amount, order_amount
			, user_id, birthday)
	  	VALUES
	  		(#{id}, #{createdBy}, #{createdDate}, #{updatedDate}, #{updatedBy}
	  		, #{hospitalId}, #{hospitalName}
	  		, #{insuranceAmount}, #{orderAmount}, #{userId}, #{birthday})
	</insert>

	<update id="update" parameterType="InsureM">
		UPDATE ykb_insure
		<set>
			<if test="updatedDate != null">
				updated_date = #{updatedDate},
			</if>
			<if test="updatedBy != null">
				updated_by = #{updatedBy},
			</if>
			<if test="hospitalId != null">
				hospital_id = #{hospitalId},
			</if>
			<if test="hospitalName != null">
				hospital_name = #{hospitalName},
			</if>
			<if test="insuranceAmount != null">
				insurance_amount = #{insuranceAmount},
			</if>
			<if test="orderAmount != null">
				order_amount = #{orderAmount},
			</if>
			<if test="birthday != null">
				birthday = #{birthday},
			</if>
		</set>
		WHERE id = #{id}
	</update>

	<sql id="sql_where">
		<where>
			<if test="id != null">
				and i.id = #{id}
			</if>
		</where>
	</sql>

	<sql id="from_insure">
		ykb_insure i
	</sql>

	<select id="findByConditionPage" resultType="InsureM">
		SELECT
		i.*
		FROM
		<include refid="from_insure" />
		<include refid="sql_where" />
	    ORDER BY i.created_date DESC
	</select>

	<select id="findOneByCondition" resultType="InsureM">
		SELECT
		i.*
		FROM
		<include refid="from_insure" />
		<include refid="sql_where" />
		LIMIT 1
	</select>

	<select id="findByCondition" resultType="InsureM">
		SELECT
		i.*
		FROM
		<include refid="from_insure" />
		<include refid="sql_where" />
	</select>

</mapper>

