<?xml version="1.0" encoding="UTF-8" ?>    
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.com.yikangbao.dao.orderrecord.OrderRecordDAO">

	<insert id="create" parameterType="OrderRecordM">
		INSERT INTO
			ykb_order_record (id, created_by, created_date, updated_date, updated_by, status, order_number)
	  	VALUES
	  		(#{id}, #{createdBy}, #{createdDate}, #{updatedDate}, #{updatedBy}, #{status}, #{orderNumber})
	</insert>

	<update id="update" parameterType="OrderRecordM">
		UPDATE ykb_order_record
		<set>
			<if test="updatedDate != null">
				updated_date = #{updatedDate},
			</if>
			<if test="updatedBy != null">
				updated_by = #{updatedBy},
			</if>
			<if test="status != null">
				status = #{status},
			</if>
			<if test="orderNumber != null">
				order_number = #{orderNumber},
			</if>
		</set>
		WHERE id = #{id}
	</update>

	<update id="deleteById" parameterType="OrderRecordM">
		DELETE FROM ykb_order_record WHERE id = #{id}
	</update>

	<sql id="sql_where">
		<where>
			<if test="orderNumber != null">
				AND yor.order_number = #{orderNumber}
			</if>
		</where>
	</sql>

	<sql id="from_order_record">
		ykb_order_record yor
	</sql>

	<select id="findByConditionPage" resultType="OrderRecordM">
		SELECT
		yor.*
		FROM
		<include refid="from_order_record" />
		<include refid="sql_where" />
	    ORDER BY yor.created_date DESC
	</select>

	<select id="findOneByCondition" resultType="OrderRecordM">
		SELECT
		yor.*
		FROM
		<include refid="from_order_record" />
		<include refid="sql_where" />
		LIMIT 1
	</select>

	<select id="findByCondition" resultType="OrderRecordM">
		SELECT
		yor.*
		FROM
		<include refid="from_order_record" />
		<include refid="sql_where" />
		ORDER BY yor.created_date
	</select>
</mapper>

